Source: ros-jade-csapex
Section: misc
Priority: extra
Maintainer: buck <sebastian.buck@uni-tuebingen.de>
Build-Depends: debhelper (>= 9.0.0), libqt5opengl5-dev, qtbase5-dev, ros-jade-catkin, ros-jade-class-loader
Homepage: http://www.ra.cs.uni-tuebingen.de/forschung/apex/
Standards-Version: 3.9.2

Package: ros-jade-csapex
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5core5a, libqt5gui5, libqt5opengl5, libqt5widgets5, ros-jade-class-loader
Description: The csapex package provides a gui for prototyping algorithms and experimenting
